<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twocoms.rojgarkendra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_New">
        <activity android:name=".registrationscreen.controler.RegisterUserDataActivity"></activity>
        <activity
            android:name=".registrationscreen.controler.VerifyMobileNumberActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreenActvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registrationscreen.controler.VerifyOtpActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".global.model.MySMSBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>